
[submodule "VulkanCore/vendor/imgui"]
	path = VulkanCore/vendor/imgui
	url = https://github.com/PrakarshPanwar/imgui.git
[submodule "VulkanCore/vendor/ImGuizmo"]
	path = VulkanCore/vendor/ImGuizmo
	url = https://github.com/PrakarshPanwar/ImGuizmo.git
[submodule "VulkanCore/vendor/JoltPhysics"]
	path = VulkanCore/vendor/JoltPhysics
	url = https://github.com/PrakarshPanwar/JoltPhysics.git
[submodule "VulkanCore/vendor/tracy"]
	path = VulkanCore/vendor/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "VulkanCore/vendor/glfw"]
	path = VulkanCore/vendor/glfw
	url = git@github.com:PrakarshPanwar/glfw.git
